*{
    background-color: rgb(139, 168, 207);/*Muda o fundo da tela toda*/
    margin: 0;/*Define a margem da tela toda para 0*/
    
}
h1{
    color: yellow;/*Cor da fonte*/
    background-color: blueviolet;/*Cor do fundo dessa tag*/
    text-align: center;/*Alinha o texto para o centro*/
    padding: 10px 10px;/*Aumenta o tamanho do espaço ocupado pela tag 10px para cima e 10px para baixo*/
    box-shadow: 5px 6px 7px purple;/*Cria uma sobra sobre o background para ficar mais bonito 5px deslocamento horizontal 6px deslocamento vertical 7px ?*/
    font-size: 50px;/*Tamanho da fonte*/
    font-family: Georgia, 'Times New Roman', Times, serif;/*Modelo da fonte*/
}
img{
    margin-top: 5%;/*Aumenta a margem de cima*/
    margin-left: 36%; /*Aumenta a margem da esquerda*/
}
h2{
    font-size: 200%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: -30%;
    margin-left: 2%;
    color: black;
}
h3{
    font-size: 150%;
    margin-left: 4%;
    color: beige;
}
h4{
    padding-bottom: 5%;/*Aumenta o tamanho para baixo para o resto do programa não ficar lá em cima também*/
    text-align: justify;
    margin-left: 5%;
    margin-right: 70%;
    color: black;
    font-style: oblique;
}
footer{
    margin-top: 10%;
    padding: 5%;
    background-color: brown;
}
p{
    font-size: 200%;
    color: whitesmoke;
    background-color: brown;
}