*{
    margin: 0;
    background-color: #ebe7e0 ;
}
h6{
  text-align: center; 
  background-color: #c6d4e1;
  
}
h1{
    text-align: center;
    font-size: 700%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    padding-top: 4%;
}
h2{
    font-size: 200%;
    margin-left: 23%;
    margin-right: 23%;
    text-align: justify;
    padding: 5%;
    
}
p{
    text-align: justify ;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 7%;
   
}
h5{
    text-align: center;
}
footer{
    margin-top: 0%;
    padding: 5%;
    background-color: #c6d4e1;
}
h3{
    background-color: #c6d4e1;
    text-align: justify;
    text-align:center;
}